body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	font-family: sans-serif;
}

h1, h2{
	font-family: 'Quintessential', cursive;
}

header{
	background-color: #C70039;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 180px;
    width: 300px;
    border: 10px solid white;
    
}

main{
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #FF5733;
}
a:hover{
	color: #FF5733;
}

footer{
	background-color: #DAF7A6;
	text-align: center;
	padding: 50px;
	color: black;
	
}

